@import  "../../../../app/app.component.scss";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

$topnav-background-color: $blue-light;
a{
    color: $light !important;
    i{
        padding: 10px;
    }
}
.dropy{
    a{
        color: $dark !important;
        i{
            margin: 4px !important;
        }
    }
}
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: $blue-dark !important;
            font-size: 175%;
            font-family: 'Righteous', cursive;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }.navbar-brand::first-letter{
            color: $yellow;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
